/* google font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* header area start  */
.nav-bar{}
.nav-bar .navbar{}
.nav-bar .navbar{}
.nav-bar .navbar .navbar-brand{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #4A4A4A;
}
/* ul */
.navbar-nav{}
/* ul li */
.navbar-nav .nav-item{
    transition-duration: 0.4s;
    cursor: pointer;
    padding: 5px;
    margin-left: 10px;
    border-radius: 3px;
}
.navbar-nav .nav-item:hover{
    background-color: #289BDE;
}
/* ul li a */
.navbar-nav .nav-item .nav-link{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #777777;
    text-transform: uppercase;
}
.navbar-nav .nav-item .nav-link:hover{
    color: #ffffff;
}
.navbar-nav .nav-item .active{
    color: #289BDE;
}
.register{
    border: 1px solid #289BDE;
    border-radius: 5px;
    color: #289BDE;
    padding: 13px 33px;
    transition: .4s;
}
.register:hover{
    background-color: #289BDE;
    color: #ffffff;

}


/* banner area */
.banner{
    position: relative;
}
.shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(29, 29, 29, 0.7);
    border-radius: 5px;
}

.banner .carousel-inner{}
.banner .carousel-inner .carousel-item{
    position: relative;
}
.get-btn{
    background: #289BDE;
    border: 1px solid #289BDE;
    border-radius: 5px;
    padding: 13px 33px;
    color: #F4F4F4;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;
}
.banner .carousel-inner .carousel-item img{
   
}
.banner .carousel-inner .carousel-item .carousel-caption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    right: 0;
    bottom: 0;
    padding: 0;
    z-index: 999;
}
.banner .carousel-inner .carousel-item .carousel-caption h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    line-height: 85px;
    text-align: center;
    color: #FFFFFF;
    text-transform: capitalize;
}
.banner .carousel-inner .carousel-item .carousel-caption p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #F4F4F4;
}




/* main courses area start here  */
.full-courses-area{
    margin-top: 130px;
}
.courses-header{}
.courses-header h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 60px;
    text-align: center;
    color: #1D1D1D;
    text-transform: capitalize;
}
.courses-header p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #777777;
}

.single-course{
    border: 1px solid #E8E8E8;
    border-radius: 5px;
}
.single-course .single-img{
    border-radius: 5px;
}
.single-course .single-img img{
    width: 100%;
    height: 100%;
}
.single-course .single-course-details{
    padding: 62px 27px 33px 10px;
}
.single-course .single-course-details h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    color: #4A4A4A;
    text-transform: capitalize;
}
.single-course .single-course-details p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #777777;

}
.single-course .single-course-details span.price{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #289BDE;
    text-transform: capitalize;

}
.btn-see-more{
    margin-top: 50px;
}



/* e learning start here */
.elearning{
    margin-top: 236px;
    background: #F4FAFD;
    border-radius: 5px;
}
.e-learning h2{
    text-align: left;
}
.e-learning p{
    text-align: left;
}

.member-review{}
.member-review .single-part{}
.member-review .single-part span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 60px;
    text-align: center;
    color: #1D1D1D;
}
.member-review .single-part p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #777777;
}
.read-more{
    margin-left: 70px;
}


/* ready to join start  */
.join{
    margin-top: 130px;
    background: #289BDE;
    border-radius: 5px;
    padding: 80px 100px;
}
.left-join{}
.left-join h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 60px;
    color: #FFFFFF;
}
.left-join p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #F4F4F4;
}
.rg{
    background-color: #fff;
    color: #289BDE;
}


/* successfull student  */
.success{
    margin-top: 130px;
}
.success-details{}
.success-details h2{
    text-align: left;
}
.success-details p{
    text-align: left;
}
.single-success{
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
}
.single-success .single-img{}
.single-success .single-img img{}
.single-details{
    padding: 20px;
}
.single-details h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #4A4A4A;
}
.single-details p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #777777;
}


/* student feedback  */
.student-feedback{
    padding-top: 130px;
}
.slider{
    position: relative;
}
.left-btn,
.right-btn{
    position: absolute;
    z-index: 999;
    top: 50%;
    height: 50px;
    width: 50px;
    font-size: 24px;
    border-radius: 50%;
    border: 0;
    transform: translateY(-50%);
    transition: .2s linear;
}
.left-btn:hover{
    background-color: #289BDE;
    color: #F4F4F4;
}.right-btn:hover{
    background-color: #289BDE;
    color: #F4F4F4;
}
.left-btn{
    left: -8px;
}
.right-btn{
    right: -8px;
}
.slide-wrap{}
.slide-wrap .single-slide{
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    padding: 40px;
    margin: 5px;
}
.slide-wrap .single-slide .top-area{}
.slide-wrap .single-slide .top-area .top-img{}
.slide-wrap .single-slide .top-area .top-img img{}
.slide-wrap .single-slide .top-area .star{
    color: #FBBF24;
}
.slide-details{}
.slide-details p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #777777;
}
.people{}
.people .left-man{
    height: 42px;
    width: 42px;
    border-radius: 50%;
    overflow: hidden;
}
.people .left-man img{
    width: 100%;
    height: auto;
}
.people .details-man{}
.people .details-man h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #4A4A4A;
}
.people .details-man span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #777777;
}


/* question area  */
.question{
    margin-top: 130px;
}
.accordion-button{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #4A4A4A;
}
.accordion-collapse{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #777777;
}


/* advertise section  */
.advertise{
    margin-top: 130px;
}

.single-company{
    padding: 10px;
}

/* footer area  */
.footer-area{
    padding: 130px 0;
    background: #161616;
    margin-top: 130px;
}
.footer p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #E8E8E8;
}
.footer .bd{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #FFFFFF;
}
.social-icon{}
.single-icon{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    padding: 20px;
    margin: 20px;
    background: #242424;
}

.single-icon a{
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#FFFFFF;
    transition: .3s linear;
    font-size: 20px;
}
.single-icon:hover a{
    color: #289BDE;
}